<!-- FOOTER -->
<div class="footer">
	<div class="signature">
		<p>Designed and developed with  </p>
		<img class="heart" src='/images/icon_footer_heart.png'>
		<p class="bold">  by SeaLab&trade;</p>
		<p>&#169 2014 - 2015</p>
	</div>
	<% include ../partials/social %>
</div> <!-- footer -->