<!-- NAVIGATION -->
<div id ="navigation" class="navigation">
	<div class="container">
		<a id="topofpage" href="/#topofpage"><div class="logo"></div></a>
<!--             <div class="hamburger">
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>  -->
		<div class="rightSide">
			<ul class="navMenu">
				<li><a id="projects" href="/#projects">Projects</a></li>
				<li><a id="services" href="/#services">Services</a></li>
				<li><a id="testimonials" href="/#testimonials">Testimonials</a></li>
				<li><a id="blog" href="https://medium.com/@sealab">Blog</a></li>
				<li><a id="contact" href="/#contact">Contact</a></li>
			</ul>
			<div class="mobilePadding">
				<div class="mobileNav"></div>
			</div>
			<ul class="mobileMenu">
				<li><a id="projects" href="/#projects">Projects</a></li>
				<li><a id="services" href="/#services">Services</a></li>
				<li><a id="testimonials" href="/#testimonials">Testimonials</a></li>
				<li><a id="blog" href="https://medium.com/@sealab">Blog</a></li>
				<li><a id="contact" href="/#contact">Contact</a></li>
			</ul>
		</div>
	</div> <!-- container -->
</div> <!-- navigation -->