<!-- PROJECT BUTTONS -->
<div class="projectButtons">
		<div class="container">
				<div class="previousProject">
					<a class="linkPreviousProject" href=<%= previous %>>
						<img class="imgPreviousProject" src="./images/icon_leftarrow@2x.png">
						<h1 class="textPreviousProject">Previous Project</h1>
					</a>
				</div> <!-- previousProject -->
				<div class="allProjects">
					<a class="linkAllProjects" href="./projects">
						<img class="imgAllProjects" src="./images/icon_projects@2x.png">
						<h1 class="textAllProjects">All Projects</h1>
					</a>
				</div> <!-- allProjects -->
				<div class="nextProject">
					<a class="linkNextProject" href=<%= next %>>
						<img class="imgNextProject" src="./images/icon_rightarrow@2x.png">
						<h1 class="textNextProject">Next Project</h1>		
					</a>
				</div> <!-- nextProject -->
		</div> <!-- container -->
</div> <!-- projectButtons -->