<!-- PROJECT BUTTONS -->
<div class="projectButtons">
		<div class="container">
				<div class="previousProject">
					<img class="imgPreviousProject" src="./images/icon_leftarrow@2x.png">
					<h1 class="textPreviousProject">Previous Project</h1>
				</div> <!-- previousProject -->
				<div class="allProjects">
					<img class="imgAllProjects" src="./images/icon_projects@2x.png">
					<h1 class="textAllProjects">All Projects</h1>
				</div> <!-- allProjects -->
				<div class="nextProject">	
					<img class="imgNextProject" src="./images/icon_rightarrow@2x.png">
					<h1 class="textNextProject">Next Project</h1>		
				</div> <!-- nextProject -->
		</div> <!-- container -->
</div> <!-- projectButtons -->