<div class="social">
	<div class="container">
		<a class="icon facebook" target="blank" href="https://www.facebook.com/pages/Giant-Squid-Creative/815576341839470?ref=hl"></a>
		<a class="icon twitter" target="blank" href="https://twitter.com/sealablife"></a>
		<a class="icon plus" target="blank" href="plus.google.com/105160365376999595461"></a>
		<a class="icon dribbble" target="blank" href="https://dribbble.com/sealab"></a>
		<a class="icon linkedin" target="blank" href="https://www.linkedin.com/company/4822257?trk=tyah&trkInfo=tarId%3A1417384257645%2Ctas%3Agiant%20squid%20creative%2Cidx%3A1-1-1"></a>
	</div> <!-- container -->
</div> <!-- social -->