
<!DOCTYPE html>
<html>
  <head>
	<% include ../partials/head %>
  </head>

  <body>
    <div class="homepage">
    <a name="topofpage"></a>
		<% include ../partials/navigation %>


    <!-- HERO IMAGE -->
    <div class="hero">
        <div class="squid">
            <div class="container">
                <div class="line"></div>
                <div class="callToAction">
                    <h1>Welcome to the </h1>
                    <h1 class="bold"> Laboratory. </h1>
                    <h2>- Here be creatives -</h2>
                    <p class="subheader">We take a top-down human-centric approach that separates our work from the other guys</p>
                </div>
                <div class="line"></div>
            </div> <!-- container -->
        </div> <!-- squid -->
    </div> <!-- hero -->


    <!-- SOCIAL MEDIA -->
		<% include ../partials/social %>
    <a name="projects"></a>



    <!-- PROJECTS -->
    <div class="projects">
        <div class="container">
						<h1 class="upperText">Here's a preview of some of our work</h1>
            <div class="images">
                    <img class="left" src="./images/img_left.png" height="600px" width="600px">
                    <img class="right-top" src="./images/img_rightTop.png" height="297px" width="394px">
                    <img class="right-bot" src="./images/img_rightBot.png" height="297px" width="394px">
            </div> <!-- images -->
        </div> <!-- container -->
        <div class="button">
          <a id="projectButton" href="/projects">View Projects!</a>
        </div>
    </div> <!-- projects -->
    <a name="services"></a>



    <!-- OUR SERVICES -->
    <div class="services">
        <div class="container">
            <h2>Our Services:</h2>
            <div class="service ux">
                <div class="icon ux"></div>
                <h3>UX Creation & </h3>
                <h3>Architecture</h3>
                <p>Every application is unique. So we spend the first part of our process learning all about you, your customers, and your goals.</p>
            </div> <!-- service ux-->
            <div class="service design">
                <div class="icon design"></div>
                <h3>Visual Design & </h3>
                <h3>Deliverables</h3>
                <p>The design phase isn't just about looks, but also about behavior. Perhaps most importantly, it's about communicating that behavior to you and your developers. Those are two languages we speak fluently.</p>
            </div> <!-- service design-->
            <div class="service tech">
                <div class="icon tech"></div>
                <h3>Technology & </h3>
                <h3>Development</h3>
                <p>We build applications for all device sizes and types using the latest technologies. Our latest loves are CSS3, HTML5, AngularJS, LESS, and jQuery.</p>
            </div> <!-- service tech -->
        </div> <!-- container -->
    </div> <!-- services -->


		<!-- CLIENTS -->
		<div class="clients">
			<div class="container">
				<img class="seaLabChar" src='./images/img_logo.png'>
				<h1 class="text">We love all our clients</h1>
				<div class="grid">
					<div class="imgContainer">
						<img class="logo iofficeLogo" src='./images/logo_ioffice@2x.png'>
					</div>
					<div class="imgContainer">
						<img class="logo datumgraphLogo" src='./images/logo_datumgraph@2x.png'>
					</div>
					<div class="imgContainer">
						<img class="logo ctrmaLogo" src='./images/logo_ctrma@2x.png'>
					</div>
					<div class="imgContainer">
						<img class="logo msbLogo" src='./images/logo_msb@2x.png'>
					</div>
					<div class="imgContainer">
						<img class="logo snapLogo" src='./images/logo_snap@2x.png'>
					</div>
					<div class="imgContainer">
						<img class="logo customfittLogo" src='./images/logo_customfitt@2x.png'>
					</div>
					<div class="imgContainer">
						<img class="logo loomLogo" src='./images/logo_loomandleaf@2x.png'>
					</div>
					<div class="imgContainer">
						<img class="logo sailsLogo" src='./images/logo_sails@2x.png'>
					</div>
				</div> <!-- grid -->
			</div> <!-- container -->
		</div> <!-- clients -->

    <a name="testimonials"></a>		
    <!-- TESTIMONIALS -->
    <div class="testimonials">
        <div class="container">
            <div class="icon"></div>
            <div class="testimonial">
                <p class="quote">“SeaLab provides world class service. I look forward to any project where SeaLab is part of the team.”</p>
                <img class="photo" src='./images/photo_serna@2x.png'>
                <p class="name">Christian Serna</p>
                <p>CEO Hive Meeting</p>
            </div> <!-- testimonial -->
        </div> <!-- container -->
    </div> <!-- testimonials -->
    <a name="contact"></a>



    <!-- CONTACT -->
    <div class="contact">
        <div class="container">
            <h2>Shoot us a note!</h2>
            <p class="subheader">Whether you’ve got questions, just want to say hi, or are ready to get cranking on a project, we’re happy to help!</p>
            <div class="content">
                <img class="texas" src="./images/icon_texas.png" width="302px" height="284px">
                <div class="links">
                    <p>Email Us:</p>
                    <p class="link">hello@sealab.io</p>
                    <p>Call Us:</p>
                    <p class="link">(512) 693 8457</p>
                </div>
            </div> <!-- content -->
        </div> <!-- container -->
    </div> <!-- contact -->


    <% include ../partials/footer %>

</div> <!-- homepage

	<% include ../partials/scripts %>
  </body>
</html>
