
<!DOCTYPE html>
<html>
  <head>
	<% include ../partials/head %>
  </head>

  <body>
    <div class="loomandleaf">
    <a name="topofpage"></a>
		<% include ../partials/navigation %>

		<div class="macbook">
			<div class="container">
				<img class="macbookImg" src="images/loomandleaf_hero@2x.png" height="397px" width="750px">
			</div>
		</div>		
		
		<div class="summary">
			<div class="container">
					<h1 class="company">Loom & Leaf </h1>
					<h1 class="saatva">by Saatva</h1>
					<p class="blurb">Loom and Leaf was born out of the success of their parent Saatva's innerspring mattress. Loom & Leaf believes in making luxurious sleep an affordable endeavour and worked with us here at SeaLab to help carry this vision forward and give their new line of foam mattresses a face lift worthy of their new and improved line.</p>
					<p class="focus">User Experience | Web Design | Responsive Design | Web Development</p>
			</div>
		</div>
		
		    <!-- DUAL IMAGES -->
    <div class="dualImages">
        <div class="container">
            <div class="images">
								<!-- <div class="top"> -->
								<img class="left" src="./images/loomandleaf_image01@2x.png" height="728px" width="485px">
								<!-- </div> -->
								<!-- <div class="bot"> -->
								<img class="right" src="./images/loomandleaf_image02@2x.png" height="728px" width="485px">
								<!-- </div> -->
            </div>
        </div> <!-- container -->
    </div> <!-- dualImages -->

		<div class="mattress">
			<div class="container">
				<img class="mattressImg" src="images/img_loomandleaf_mattress@2x.png" height="408px" width="600px">
			</div>
		</div>		

		<div class="projectNotes">
			<div class="container">
					<p class="content">The team behind Loom & Leaf rise above and beyond the competition in a lot of unique ways: including their green initiatives, their quality customer service, and their attention to detail. Bringing out these differentiators was a must for the website - and because of the wide Loom & Leaf audience ranging from ages 25 to 50+, the need for a simple, clean, fully responsive, and easy navigable website was a must.</p>
			</div>
		</div>
		
		
		<% include ../partials/projectNav %>
		
    <% include ../partials/footer %>

</div> <!-- homepage -->

	<% include ../partials/scripts %>
  </body>
</html>
