
<!DOCTYPE html>
<html>
  <head>
	<% include ../partials/head %>
  </head>

  <body>
    <div class="projects">
    <a name="topofpage"></a>
		<% include ../partials/navigation %>

		<div class="projectsLoomAndLeaf">
			<div class="container">
				<div class="left">
					<h1 class="company">Loom & Leaf </h1>
					<h1 class="saatva">by Saatva</h1>
					<p class="blurb">Loom and Leaf was born out of the success of their parent Saatva's innerspring mattress. Loom & Leaf believes in making luxurious sleep an affordable endeavour and worked with us here at SeaLab to help carry this vision forward and give their new line of foam mattresses a face lift worthy of their new and improved line.</p>
					<p class="focus">User Experience | Web Design | Responsive Design | Web Development</p>
					<a class="viewProjectButton" href="./loomandleaf">
						<h2 class="projectButton">View Project</h2>
						<img class="arrowButton" src="images/icon_projectArrow.png">
					</a>
				</div> <!-- left -->
				<div class="right">
					<img src="images/loomandleaf_hero@2x.png" height="291px" width="550px">
				</div> <!-- right -->
			</div> <!-- container -->
		</div> <!-- projectsLoomAndLeaf -->
		
		<div class="projectsSnapKitchen">
			<div class="container">
				<div class="left">
					<h1 class="company">Snap Kitchen</h1>
					<p class="blurb">Since 2010, Snap Kitchen has worked hard to create a place for people to experience consciously crafted food that is both delicious and nutritious. Snap Kitchen is dedicated to educating their guests and providing healthy, chef-driven creations prepared with the highest quality ingredients available. It was a no-brainer for Snap to pair up with...</p>
					<p class="focus">User Experience | Web Design | Responsive Design</p>
					<a class="viewProjectButton" href="./snapkitchen">
						<h2 class="projectButton">View Project</h2>
						<img class="arrowButton" src="images/icon_projectArrow.png">
					</a>
				</div> <!-- left -->
				<div class="right">
					<img src="images/snapkitchen_hero@2x.png" height="323px" width="510px">
				</div> <!-- right -->
		</div> <!-- container -->
	</div> <!-- projectsSnap Kitchen -->
	
	<div class="projectsSailsJs">
			<div class="container">
				<div class="left">
					<h1 class="company">Sails.js</h1>
					<p class="blurb">Sails.js is the most popular MVC framework for Node.js. It is designed for building practical, production-ready Node.js apps in a matter of weeks - not months. Therefore having an easy to understand and navigatable website was super important for such a popular open source project, and SeaLab was selected as the ones for the job.</p>
					<p class="focus">User Experience | Web Design | Responsive Design | Web Development | Brand Creation | Character Development</p>
					<a class="viewProjectButton" href="./sailsjs">
						<h2 class="projectButton">View Project</h2>
						<img class="arrowButton" src="images/icon_projectArrow.png">
					</a>
				</div> <!-- left -->
				<div class="right">
					<img src="images/sails_hero@2x.png" height="297px" width="550px">
				</div> <!-- right -->
			</div> <!-- container -->
		</div> <!-- projectsSailsJs -->
		
    <% include ../partials/footer %>

</div> <!-- projects -->

	<% include ../partials/scripts %>
  </body>
</html>
