
<!DOCTYPE html>
<html>
  <head>
	<% include ../partials/head %>
  </head>

  <body>
    <div class="sailsjs">
    <a name="topofpage"></a>
		<% include ../partials/navigation %>

		<div class="octopus">
			<div class="container">
				<img class="octopusImg" src="images/sails_hero@2x.png" height="405px" width="750px">
			</div>
		</div>		
		
		<div class="summary">
			<div class="container">
					<h1 class="company">Sails.js</h1>
					<p class="blurb">Sails.js is the most popular MVC framework for Node.js. It is designed for building practical, production-ready Node.js apps in a matter of weeks - not months. Therefore having an easy to understand and navigatable website was super important for such a popular open source project, and SeaLab was selected as the ones for the job.</p>
					<p class="focus">User Experience | Web Design | Responsive Design | Web Development | Brand Creation | Character Development</p>
			</div>
		</div>
		
		    <!-- DUAL IMAGES -->
    <div class="dualImages">
        <div class="container">
            <div class="images">
								<!-- <div class="top"> -->
								<img class="left" src="./images/sails_photo01@2x.png" height="1250px" width="485px">
								<!-- </div> -->
								<!-- <div class="bot"> -->
								<img class="right" src="./images/sails_photo02@2x.png" height="1250px" width="485px">
								<!-- </div> -->
            </div>
        </div> <!-- container -->
    </div> <!-- dualImages -->

		<div class="fibonacci">
			<div class="container">
				<img class="fibImg" src="./images/sails_logoCreation@2x.png" height="224px" width="1000px">
			</div>
		</div>

		    <!-- SKETCHES -->
    <div class="sketches">
        <div class="container">
            <div class="images">
								<!-- <div class="top"> -->
								<img class="left" src="./images/sails_sketch01@2x.png" height="356px" width="485px">
								<!-- </div> -->
								<!-- <div class="bot"> -->
								<img class="right" src="./images/sails_sketch02@2x.png" height="356px" width="485px">
								<!-- </div> -->
            </div>
        </div> <!-- container -->
    </div> <!-- sketches -->
		
		<div class="responsive">
			<div class="container">
				<img class="responsiveImg" src="images/sails_responsive@2x.png">
			</div>
		</div>		

		<div class="projectNotes">
			<div class="container">
					<p class="content">The challenges that came with the Sails.js website included coming up with a unique but successful responsive design for the documentation portion, along with making sure to future proff the website as sails.js continued to grow and expand.</p>
					<p class="content">While the website itself is where most of the created assets live, creating posters, stickers, shirts, emails, and even presentation decks was all part of future-proofing the Sails.js brand for years to come. Sails.js was a blast to work on.</p>
			</div>
		</div>
		
		
		<% include ../partials/projectNav %>
		
    <% include ../partials/footer %>

</div> <!-- homepage -->

	<% include ../partials/scripts %>
  </body>
</html>
