
<!DOCTYPE html>
<html>
  <head>
	<% include ../partials/head %>
  </head>

  <body>
    <div class="snapkitchen">
    <a name="topofpage"></a>
		<% include ../partials/navigation %>

		<div class="menu">
			<div class="container">
				<img class="menuImg" src="images/snapkitchen_hero@2x.png" height="482px" width="750px">
			</div>
		</div>		
		
		<div class="summary">
			<div class="container">
					<h1 class="company">Snap Kitchen</h1>
					<p class="blurb">Since 2010, Snap Kitchen has worked hard to create a place for people to experience consciously crafted food that is both delicious and nutritious. Snap Kitchen is dedicated to educating their guests and providing healthy, chef-driven creations prepared with the highest quality ingredients available. It was a no-brainer for Snap to pair up with SeaLab to help extend their vision to the online space with a clean, beautiful re-design that better captured and communicated everything Snap is to their customers.</p>
					<p class="focus">User Experience | Web Design | Responsive Design</p>
			</div>
		</div>
		
		    <!-- DUAL IMAGES -->
    <div class="dualImages">
        <div class="container">
            <div class="images">
								<!-- <div class="top"> -->
								<img class="left" src="./images/snap_photo01@2x.png" height="315px" width="485px">
								<!-- </div> -->
								<!-- <div class="bot"> -->
								<img class="right" src="./images/snap_photo02@2x.png" height="315px" width="485px">
								<!-- </div> -->
            </div>
        </div> <!-- container -->
    </div> <!-- dualImages -->

		<div class="iphones">
			<div class="container">
				<img class="iphonesImg" src="images/snap_mobile@2x.png" height="470px" width="800px">
			</div>
		</div>
		
		<!-- food div removed -->
		<!-- <div class="food">
			<div class="container">
				<img class="foodImg" src="images/snap_image.png">
			</div>
		</div> -->
		
		
		<div class="projectNotes">
			<div class="container">
					<p class="content">Snap Kitchen is a well known local, healthy, and green icon in Austin that needed an updated look and feel to match. The Snap Kitchen brand is well known and established, and extending their existing brand to the online space in a clean and modern way was the goal of this website redesign. From mobile to desktop, the site was designed based on Snap Kitchen's user feedback.</p>
			</div>
		</div>
		
		
		<% include ../partials/projectNav %>
		
    <% include ../partials/footer %>

</div> <!-- homepage -->

	<% include ../partials/scripts %>
  </body>
</html>
